In [1]:
import pandas as pd
import numpy as np

In [21]:
#Importação da base de COVID_12 - casos em 2020
covid = pd.read_csv ('data_covid.csv',sep =';')

In [22]:
covid.head(100)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-05-30,22,210147125.0,498440,33274,28834,956,200892.0,268714.0,NaN
96,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-05-31,23,210147125.0,514200,15760,29314,480,206555.0,278331.0,NaN
97,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-06-01,23,210147125.0,526447,12247,29937,623,211080.0,285430.0,NaN
98,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-06-02,23,210147125.0,555383,28936,31199,1262,223638.0,300546.0,NaN
99,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-06-03,23,210147125.0,584016,28633,32548,1349,238617.0,312851.0,NaN

In [23]:
covid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [27]:
cv19 = covid[['data','estado','codmun','municipio','populacaoTCU2019','casosNovos','obitosNovos']].groupby(['data','estado','codmun','municipio','populacaoTCU2019','casosNovos','obitosNovos'],as_index=False).agg(soma_valor_beneficio = ('casosNovos','sum'))

In [28]:
cv19.head()

,data,estado,codmun,municipio,populacaoTCU2019,casosNovos,obitosNovos,soma_valor_beneficio
0,2020-03-27,AC,120001.0,Acrelândia,15256.0,0,0,0
1,2020-03-27,AC,120005.0,Assis Brasil,7417.0,0,0,0
2,2020-03-27,AC,120010.0,Brasiléia,26278.0,0,0,0
3,2020-03-27,AC,120013.0,Bujari,10266.0,0,0,0
4,2020-03-27,AC,120017.0,Capixaba,11733.0,0,0,0

In [42]:
cv19['ano'] = cv19['data'].apply(lambda x: str(x)[:4])
cv19['mes'] = cv19['data'].apply(lambda x: str(x)[5:7])
cv19['periodo'] = cv19['ano']+cv19['mes']
cv19.head()

,data,estado,codmun,municipio,populacaoTCU2019,casosNovos,obitosNovos,soma_valor_beneficio,ano,mes,periodo
0,2020-03-27,AC,120001.0,Acrelândia,15256.0,0,0,0,2020,03,202003
1,2020-03-27,AC,120005.0,Assis Brasil,7417.0,0,0,0,2020,03,202003
2,2020-03-27,AC,120010.0,Brasiléia,26278.0,0,0,0,2020,03,202003
3,2020-03-27,AC,120013.0,Bujari,10266.0,0,0,0,2020,03,202003
4,2020-03-27,AC,120017.0,Capixaba,11733.0,0,0,0,2020,03,202003

In [45]:
df_covid_final = cv19[['codmun','estado','municipio','populacaoTCU2019','casosNovos','obitosNovos','periodo']]
df_covid_final.head()

,codmun,estado,municipio,populacaoTCU2019,casosNovos,obitosNovos,periodo
0,120001.0,AC,Acrelândia,15256.0,0,0,202003
1,120005.0,AC,Assis Brasil,7417.0,0,0,202003
2,120010.0,AC,Brasiléia,26278.0,0,0,202003
3,120013.0,AC,Bujari,10266.0,0,0,202003
4,120017.0,AC,Capixaba,11733.0,0,0,202003

In [46]:
df_covid_final.to_csv('covid_final.csv')

In [3]:
#Importação base de auxílio emergencial
Aux_06 = pd.read_csv ('202006_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [4]:
Aux_06['VALOR BENEFÍCIO'] = Aux_06['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [10]:
aux_06_gb = Aux_06[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [11]:
aux_06_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202006,Não há,1ª,569400.0,872
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202006,Não há,2ª,218400.0,340
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202006,Não há,3ª,844800.0,1298
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202006,Pagamento bloqueado ou cancelado,1ª,21600.0,34
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202006,Pagamento bloqueado ou cancelado,2ª,9600.0,16

In [13]:
df = aux_06_gb

In [14]:
df=pd.DataFrame(aux_06_gb)

In [15]:
df.to_csv('auxilio_06.csv')

In [ ]:
##Começa a importação do novo mes_dez12

In [2]:
#Importação base de auxílio emergencial
Aux_12 = pd.read_csv ('202012_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

C:\Users\55659\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
Aux_12['VALOR BENEFÍCIO'] = Aux_12['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [4]:
aux_12_gb = Aux_12[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [5]:
aux_12_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202012,Não há,1ª,5400.0,8
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202012,Não há,2ª,10800.0,17
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202012,Não há,3ª,19800.0,29
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202012,Não há,4ª,43800.0,65
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202012,Não há,5ª,99000.0,148

In [6]:
df=pd.DataFrame(aux_12_gb)

In [7]:
df.to_csv('auxilio_12.csv')

In [ ]:
##Começa a importação do novo mes_abr04

In [24]:
#Importação base de auxílio emergencial
Aux_04 = pd.read_csv ('202004_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [25]:
Aux_04['VALOR BENEFÍCIO'] = Aux_04['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [26]:
aux_04_gb = Aux_04[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [27]:
aux_04_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Não há,1ª,2551200.0,3906
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Pagamento bloqueado ou cancelado,1ª,183000.0,286
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Valor devolvido à União.,1ª,3000.0,5
3,1100023.0,RO,ARIQUEMES,202004,Não há,1ª,12250800.0,17786
4,1100023.0,RO,ARIQUEMES,202004,Pagamento bloqueado ou cancelado,1ª,991800.0,1505

In [28]:
df=pd.DataFrame(aux_04_gb)

In [29]:
df.to_csv('auxilio_04.csv')

In [ ]:
##Começa a importação do novo mes_mai05

In [17]:
#Importação base de auxílio emergencial
Aux_05 = pd.read_csv ('202005_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [18]:
Aux_05['VALOR BENEFÍCIO'] = Aux_05['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [19]:
aux_05_gb = Aux_05[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [20]:
aux_05_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202005,Não há,1ª,834600.0,1304
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202005,Não há,2ª,2685000.0,4113
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202005,Pagamento bloqueado ou cancelado,1ª,38400.0,60
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202005,Pagamento bloqueado ou cancelado,2ª,136800.0,212
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202005,Valor devolvido à União.,1ª,1800.0,2

In [21]:
df=pd.DataFrame(aux_05_gb)

In [23]:
df.to_csv('auxilio_05.csv')

In [ ]:
##Começa a importação do novo mes_jul07

In [30]:
Aux_07 = pd.read_csv ('202007_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [31]:
Aux_07['VALOR BENEFÍCIO'] = Aux_07['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [32]:
aux_07_gb = Aux_07[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [34]:
aux_07_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202007,Não há,1ª,121800.0,186
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202007,Não há,2ª,684600.0,1065
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202007,Não há,3ª,2061600.0,3158
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202007,Não há,4ª,856800.0,1313
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202007,Pagamento bloqueado ou cancelado,1ª,7800.0,12

In [33]:
df=pd.DataFrame(aux_07_gb)

In [35]:
df.to_csv('auxilio_07.csv')

In [ ]:
##Começa a importação do novo mes_ago08

In [36]:
Aux_08 = pd.read_csv ('202008_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [37]:
Aux_08['VALOR BENEFÍCIO'] = Aux_08['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [38]:
aux_08_gb = Aux_08[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [39]:
aux_08_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202008,Não há,1ª,88200.0,133
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202008,Não há,2ª,467400.0,719
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202008,Não há,3ª,520800.0,817
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202008,Não há,4ª,1869600.0,2866
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202008,Não há,5ª,221400.0,338

In [40]:
df=pd.DataFrame(aux_08_gb)

In [41]:
df.to_csv('auxilio_08.csv')

In [ ]:
##Começa a importação do novo mes_set09

In [2]:
Aux_09 = pd.read_csv ('202009_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [3]:
Aux_09['VALOR BENEFÍCIO'] = Aux_09['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [4]:
aux_09_gb = Aux_09[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [5]:
aux_09_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202009,Não há,1ª,10200.0,17
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202009,Não há,2ª,100200.0,150
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202009,Não há,3ª,628800.0,965
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202009,Não há,4ª,688800.0,1077
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202009,Não há,5ª,2505000.0,3842

In [6]:
df=pd.DataFrame(aux_09_gb)

In [7]:
df.to_csv('auxilio_09.csv')

In [ ]:
##Começa a importação do novo mes_out10

In [8]:
Aux_10 = pd.read_csv ('202010_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [9]:
Aux_10['VALOR BENEFÍCIO'] = Aux_10['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [10]:
aux_10_gb = Aux_10[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [11]:
aux_10_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202010,Não há,1ª,16200.0,22
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202010,Não há,2ª,8400.0,14
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202010,Não há,3ª,87600.0,130
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202010,Não há,4ª,560400.0,860
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202010,Não há,5ª,618600.0,971

In [12]:
df=pd.DataFrame(aux_10_gb)

In [13]:
df.to_csv('auxilio_10.csv')

In [ ]:
##Começa a importação do novo mes_nov11

In [15]:
Aux_11 = pd.read_csv ('202011_AuxilioEmergencial.csv',sep =';', encoding='latin1', usecols=['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','VALOR BENEFÍCIO','OBSERVAÇÃO','PARCELA'])

In [16]:
Aux_11['VALOR BENEFÍCIO'] = Aux_11['VALOR BENEFÍCIO'].apply(lambda x: x.replace(',','.') ).astype(float)

In [17]:
aux_11_gb = Aux_11[['MÊS DISPONIBILIZAÇÃO','UF','CÓDIGO MUNICÍPIO IBGE','NOME MUNICÍPIO','OBSERVAÇÃO','PARCELA','VALOR BENEFÍCIO']].groupby(['CÓDIGO MUNICÍPIO IBGE','UF','NOME MUNICÍPIO','MÊS DISPONIBILIZAÇÃO','OBSERVAÇÃO','PARCELA'],as_index=False).agg(soma_valor_beneficio = ('VALOR BENEFÍCIO','sum'),count_valor_beneficio = ('VALOR BENEFÍCIO','count'))

In [18]:
aux_11_gb.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202011,Não há,1ª,9600.0,16
1,1100015.0,RO,ALTA FLORESTA D'OESTE,202011,Não há,2ª,20400.0,29
2,1100015.0,RO,ALTA FLORESTA D'OESTE,202011,Não há,3ª,23400.0,37
3,1100015.0,RO,ALTA FLORESTA D'OESTE,202011,Não há,4ª,162600.0,245
4,1100015.0,RO,ALTA FLORESTA D'OESTE,202011,Não há,5ª,726600.0,1111

In [19]:
df=pd.DataFrame(aux_11_gb)

In [20]:
df.to_csv('auxilio_11.csv')

In [3]:
df1 = pd.read_csv ('auxilio_04.csv')
df2 = pd.read_csv ('auxilio_05.csv')
df3 = pd.read_csv ('auxilio_06.csv')
df4 = pd.read_csv ('auxilio_07.csv')
df5 = pd.read_csv ('auxilio_08.csv')
df6 = pd.read_csv ('auxilio_09.csv')
df7 = pd.read_csv ('auxilio_10.csv')
df8 = pd.read_csv ('auxilio_11.csv')
df9 = pd.read_csv ('auxilio_12.csv')

In [4]:
df1.columns

Index(['Unnamed: 0', 'CÓDIGO MUNICÍPIO IBGE', 'UF', 'NOME MUNICÍPIO',
       'MÊS DISPONIBILIZAÇÃO', 'OBSERVAÇÃO', 'PARCELA', 'soma_valor_beneficio',
       'count_valor_beneficio'],
      dtype='object')

In [5]:
df_concat = pd.concat([df1, df2,df3,df4,df5,df6,df7,df8,df9])
df_concat.head()

,Unnamed: 0,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,0,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Não há,1ª,2551200.0,3906
1,1,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Pagamento bloqueado ou cancelado,1ª,183000.0,286
2,2,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Valor devolvido à União.,1ª,3000.0,5
3,3,1100023.0,RO,ARIQUEMES,202004,Não há,1ª,12250800.0,17786
4,4,1100023.0,RO,ARIQUEMES,202004,Pagamento bloqueado ou cancelado,1ª,991800.0,1505

In [6]:
df_filter = df_concat.loc[df_concat['OBSERVAÇÃO']=='Não há']

In [7]:
df_concat.loc[df_concat['CÓDIGO MUNICÍPIO IBGE']=='CÓDIGO MUNICÍPIO IBGE']

Empty DataFrame
Columns: [Unnamed: 0, CÓDIGO MUNICÍPIO IBGE, UF, NOME MUNICÍPIO, MÊS DISPONIBILIZAÇÃO, OBSERVAÇÃO, PARCELA, soma_valor_beneficio, count_valor_beneficio]
Index: []

In [9]:
df_concat.head()

,Unnamed: 0,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,0,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Não há,1ª,2551200.0,3906
1,1,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Pagamento bloqueado ou cancelado,1ª,183000.0,286
2,2,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Valor devolvido à União.,1ª,3000.0,5
3,3,1100023.0,RO,ARIQUEMES,202004,Não há,1ª,12250800.0,17786
4,4,1100023.0,RO,ARIQUEMES,202004,Pagamento bloqueado ou cancelado,1ª,991800.0,1505

In [14]:
df_final_aux = df_filter.drop(columns=['Unnamed: 0'])
df_final_aux.head()

,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
0,1100015.0,RO,ALTA FLORESTA D'OESTE,202004,Não há,1ª,2551200.0,3906
3,1100023.0,RO,ARIQUEMES,202004,Não há,1ª,12250800.0,17786
6,1100031.0,RO,CABIXI,202004,Não há,1ª,592200.0,884
9,1100049.0,RO,CACOAL,202004,Não há,1ª,8876400.0,13254
12,1100056.0,RO,CEREJEIRAS,202004,Não há,1ª,1992000.0,2987

In [19]:
df_final_aux.to_csv('dataframe_auxilio_final.csv')

In [2]:
##Inciando analise##

In [4]:
df_cv = pd.read_csv('covid_final.csv')
df_auxilio = pd.read_csv('dataframe_auxilio_final.csv')
df_cv.head()

,Unnamed: 0,codmun,estado,municipio,populacaoTCU2019,casosNovos,obitosNovos,periodo
0,0,120001.0,AC,Acrelândia,15256.0,0,0,202003
1,1,120005.0,AC,Assis Brasil,7417.0,0,0,202003
2,2,120010.0,AC,Brasiléia,26278.0,0,0,202003
3,3,120013.0,AC,Bujari,10266.0,0,0,202003
4,4,120017.0,AC,Capixaba,11733.0,0,0,202003

In [6]:
df_auxilio.columns

Index(['Unnamed: 0', 'CÓDIGO MUNICÍPIO IBGE', 'UF', 'NOME MUNICÍPIO',
       'MÊS DISPONIBILIZAÇÃO', 'OBSERVAÇÃO', 'PARCELA', 'soma_valor_beneficio',
       'count_valor_beneficio'],
      dtype='object')

In [14]:
df_cv.columns

Index(['Unnamed: 0', 'CÓDIGO MUNICÍPIO IBGE', 'estado', 'municipio',
       'populacaoTCU2019', 'casosNovos', 'obitosNovos', 'periodo'],
      dtype='object')

In [13]:
df_cv = df_cv.rename(columns={'codmun':'CÓDIGO MUNICÍPIO IBGE'})

In [23]:
df_auxilio.dtypes

Unnamed: 0                 int64
CÓDIGO MUNICÍPIO IBGE    float64
UF                        object
NOME MUNICÍPIO            object
MÊS DISPONIBILIZAÇÃO       int64
OBSERVAÇÃO                object
PARCELA                   object
soma_valor_beneficio     float64
count_valor_beneficio      int64
dtype: object

In [24]:
df_cv.dtypes

Unnamed: 0                 int64
CÓDIGO MUNICÍPIO IBGE    float64
estado                    object
municipio                 object
populacaoTCU2019         float64
casosNovos                 int64
obitosNovos                int64
periodo                    int64
dtype: object

In [21]:
df_auxilio['CÓDIGO MUNICÍPIO IBGE'].astype(float)
df_cv['CÓDIGO MUNICÍPIO IBGE'].astype(float)

0          120001.0
1          120005.0
2          120010.0
3          120013.0
4          120017.0
             ...
2060895    172120.0
2060896    172125.0
2060897    172130.0
2060898    172208.0
2060899    172210.0
Name: CÓDIGO MUNICÍPIO IBGE, Length: 2060900, dtype: float64

In [40]:
df_cv.loc[df_cv['municipio']=='CUIABÁ']

,Unnamed: 0,CÓDIGO MUNICÍPIO IBGE,estado,municipio,populacaoTCU2019,casosNovos,obitosNovos,periodo
2314,2314,510340.0,MT,CUIABÁ,612547.0,0,0,202003
7884,7884,510340.0,MT,CUIABÁ,612547.0,10,0,202003
13454,13454,510340.0,MT,CUIABÁ,612547.0,0,0,202003
19024,19024,510340.0,MT,CUIABÁ,612547.0,2,0,202003
24594,24594,510340.0,MT,CUIABÁ,612547.0,6,0,202003
...,...,...,...,...,...,...,...,...
2035364,2035364,510340.0,MT,CUIABÁ,612547.0,226,14,202103
2040934,2040934,510340.0,MT,CUIABÁ,612547.0,269,19,202103
2046504,2046504,510340.0,MT,CUIABÁ,612547.0,426,28,202103
2052074,2052074,510340.0,MT,CUIABÁ,612547.0,568,29,202103
2057644,2057644,510340.0,MT,CUIABÁ,612547.0,553,28,202103

In [38]:
df_cv['municipio'] = df_cv['municipio'].str.upper()

In [51]:
def limpa_acento(row):
        return unidecode.unidecode(row)

In [54]:
df_cv['municipio'] = df_cv['municipio'].apply(limpa_acento)

In [62]:
df_cv.to_csv('base_covid.csv')

In [63]:
df_auxilio.to_csv('base_auxilio.csv')

In [57]:
df_cv.loc[df_cv['municipio']=='SAO PAULO']

,Unnamed: 0,CÓDIGO MUNICÍPIO IBGE,estado,municipio,populacaoTCU2019,casosNovos,obitosNovos,periodo
5348,5348,355030.0,SP,SAO PAULO,12252023.0,0,0,202003
10918,10918,355030.0,SP,SAO PAULO,12252023.0,1149,76,202003
16488,16488,355030.0,SP,SAO PAULO,12252023.0,34,13,202003
22058,22058,355030.0,SP,SAO PAULO,12252023.0,50,14,202003
27628,27628,355030.0,SP,SAO PAULO,12252023.0,652,18,202003
...,...,...,...,...,...,...,...,...
2038398,2038398,355030.0,SP,SAO PAULO,12252023.0,3709,277,202103
2043968,2043968,355030.0,SP,SAO PAULO,12252023.0,2010,32,202103
2049538,2049538,355030.0,SP,SAO PAULO,12252023.0,1242,118,202103
2055108,2055108,355030.0,SP,SAO PAULO,12252023.0,4748,279,202103
2060678,2060678,355030.0,SP,SAO PAULO,12252023.0,8348,291,202103

In [36]:
df_auxilio.loc[df_auxilio['NOME MUNICÍPIO']=='CUIABA']

,Unnamed: 0,CÓDIGO MUNICÍPIO IBGE,UF,NOME MUNICÍPIO,MÊS DISPONIBILIZAÇÃO,OBSERVAÇÃO,PARCELA,soma_valor_beneficio,count_valor_beneficio
5219,15259,5103403.0,MT,CUIABA,202004,Não há,1ª,67320000.0,99929
16008,29396,5103403.0,MT,CUIABA,202005,Não há,1ª,21891600.0,33888
16009,29397,5103403.0,MT,CUIABA,202005,Não há,2ª,69222600.0,102881
32367,37356,5103403.0,MT,CUIABA,202006,Não há,1ª,12592200.0,19119
32368,37357,5103403.0,MT,CUIABA,202006,Não há,2ª,6526200.0,10073
32369,37358,5103403.0,MT,CUIABA,202006,Não há,3ª,22393200.0,33286
54298,49807,5103403.0,MT,CUIABA,202007,Não há,1ª,2798400.0,4252
54299,49808,5103403.0,MT,CUIABA,202007,Não há,2ª,18138600.0,27940
54300,49809,5103403.0,MT,CUIABA,202007,Não há,3ª,53423400.0,79781
54301,49810,5103403.0,MT,CUIABA,202007,Não há,4ª,22519800.0,33488
81795,57221,5103403.0,MT,CUIABA,202008,Não há,1ª,3333000.0,5051
81796,57222,5103403.0,MT,CUIABA,202008,Não há,2ª,10231800.0,15525
81797,57223,5103403.0,MT,CUIABA,202008,Não há,3ª,14469600.0,22391
81798,57224,5103403.0,MT,CUIABA,202008,Não há,4ª,48288600.0,71915
81799,57225,5103403.0,MT,CUIABA,202008,Não há,5ª,5570400.0,8335
114705,55673,5103403.0,MT,CUIABA,202009,Não há,1ª,647400.0,969
114706,55674,5103403.0,MT,CUIABA,202009,Não há,2ª,3604800.0,5498
114707,55675,5103403.0,MT,CUIABA,202009,Não há,3ª,13956000.0,21146
114708,55676,5103403.0,MT,CUIABA,202009,Não há,4ª,19082400.0,29460
114709,55677,5103403.0,MT,CUIABA,202009,Não há,5ª,65275200.0,97126
114710,55678,5103403.0,MT,CUIABA,202009,Não há,6ª,2619900.0,7829
153000,47186,5103403.0,MT,CUIABA,202010,Não há,1ª,1236600.0,1835
153001,47187,5103403.0,MT,CUIABA,202010,Não há,2ª,558000.0,837
153002,47188,5103403.0,MT,CUIABA,202010,Não há,3ª,3075600.0,4695
153003,47189,5103403.0,MT,CUIABA,202010,Não há,4ª,12390600.0,18765
153004,47190,5103403.0,MT,CUIABA,202010,Não há,5ª,16896000.0,26083
153005,47191,5103403.0,MT,CUIABA,202010,Não há,6ª,28093200.0,83426
153006,47192,5103403.0,MT,CUIABA,202010,Não há,7ª,2560500.0,7647
196655,47470,5103403.0,MT,CUIABA,202011,Não há,1ª,678000.0,1006
196656,47471,5103403.0,MT,CUIABA,202011,Não há,2ª,1341000.0,1992
196657,47472,5103403.0,MT,CUIABA,202011,Não há,3ª,1330800.0,1995
196658,47473,5103403.0,MT,CUIABA,202011,Não há,4ª,4663200.0,7106
196659,47474,5103403.0,MT,CUIABA,202011,Não há,5ª,16403400.0,24935
196660,47475,5103403.0,MT,CUIABA,202011,Não há,6ª,13824900.0,42229
196661,47476,5103403.0,MT,CUIABA,202011,Não há,7ª,33677100.0,100377
196662,47477,5103403.0,MT,CUIABA,202011,Não há,8ª,15543300.0,46083
244832,52649,5103403.0,MT,CUIABA,202012,Não há,1ª,254400.0,360
244833,52650,5103403.0,MT,CUIABA,202012,Não há,2ª,597000.0,864
244834,52651,5103403.0,MT,CUIABA,202012,Não há,3ª,1286400.0,1891
244835,52652,5103403.0,MT,CUIABA,202012,Não há,4ª,2415600.0,3567
244836,52653,5103403.0,MT,CUIABA,202012,Não há,5ª,4240200.0,6312
244837,52654,5103403.0,MT,CUIABA,202012,Não há,6ª,4526100.0,13738
244838,52655,5103403.0,MT,CUIABA,202012,Não há,7ª,10428600.0,31858
244839,52656,5103403.0,MT,CUIABA,202012,Não há,8ª,24407700.0,73410
244840,52657,5103403.0,MT,CUIABA,202012,Não há,9ª,30783600.0,91267

In [58]:
df_cv = df_cv.rename(columns={'municipio':'NOME MUNICÍPIO'})

In [61]:
pd.merge (df_auxilio,df_cv, on='NOME MUNICÍPIO',how='left')

MemoryError: Unable to allocate 3.04 GiB for an array with shape (4, 102117267) and data type object